/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

*{
	margin: 0;
	padding: 0;
}

html {
     scroll-behavior: smooth;
}


  body{
   margin: 15px;
   padding: 15px;
   background: linear-gradient(to right,pink,cornflowerblue);
  }
  /* ABOUT US */
  .choose_text{
  	width: 100%;
  	float: left;
  	text-align: center;
  	color: #030907;
  	    font-weight: 600;

  }
  .about_main{
  	width: 100%;
  	float: left;
      height: auto;
  	margin-top: 70px;
  	margin-bottom: 20px;
  	position: relative;
    background-color: lightblue;
    border:2px solid transparent;
    box-shadow: 0 0 10px #007CDA, 0 0 10px #007CDA, 0 0 10px #007CDA;
    border-radius: 10px;
   }
   .right_section_main{
   	width: 100%;
   	float: left;
   	background-color: lightblue;
       padding: 12px 40px 0px 40px;
       margin-top: 31px;
   }
   .dolar_tetx{
   	width: 100%;
   	float: left;

   }
   #p1::first-letter{
   	color: royalblue;
   	font-size:100px;
   }

   .images{
   	margin: 30px;
   	width: 100%;
       margin-left: 0px;
   }
   /* ABOUT ENDS+ */

/*service-section*/
.service-box{
	padding: 10px;
	align-items: center;
	cursor: pointer;

}
.service-icon{
	display: inline-block;
	width: 70px;
	height: 70px;
	margin-bottom: 30px;
	margin-top: 16px;
	border-radius: 50px;
	border:3px solid blue;
}
.service-icon i{
	line-height: 70px;
	font-size: 26px;
}
.service-box:hover .service-icon{
	background: blue;
	color: #ddd;
}
.service-title{
	font-style: 18px;
	margin-bottom: 10px;
	font-weight: bold;
}
.service-desc{
	font-size: 14px;
}


h1 {
     font-size: 48px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}







p {
     margin: 20px;
     font-weight: 600;
     font-size: 15px;
     line-height: 24px;
     color: #110f0a;
}

a {
     color: #ffffff;
     text-decoration: none;
     outline: none !important;
}



.choose_section{
	width: 100%;
	float: left;
	margin-top: 40px;
	margin-bottom: 40px;
}


.lorem_text{
	width: 100%;
	float: left;
	text-align: center;;
}


.choose_section_2{
	width: 100%;
	float: left;
}






.totaly_text{
		width: 100%;
	float: left;
	text-align: center;
	margin-top: 20px;
	color: #000;


}


.making{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 20px;
	color: #000;
	margin-left: 0;

}







.about_inner{
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
  background-color: lightblue;
  border:2px solid transparent;
  box-shadow: 0 0 10px #007CDA, 0 0 10px #007CDA, 0 0 10px #007CDA;
  border-radius: 10px;
}
.dedicated{
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
  background-color: lightblue;
  border:2px solid transparent;
	box-shadow: 0 0 10px #007CDA, 0 0 10px #007CDA, 0 0 10px #007CDA;
	border-radius: 10px;
}

.hosting_text{
	color: #000;
	text-align: center;
	margin-top: 20px;

}

.service-icon{
	display: inline-block;
	width: 120px;
	height: 120px;
	margin-bottom: 30px;
	margin-top: 16px;
	border-radius: 50px;
	border:3px solid blue;
  text-align: center;
}
.service-icon i{
	line-height: 120px;
	font-size: 70px;
}
.service-box:hover .service-icon{
	background: blue;
	color: #ddd;
}
.service-box{
  text-align: center;
}

ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
	padding: 70px 0;
}
/* get help section*/
.footer-col{
	width: 30%;
	padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: blue;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
/*contauct ussection*/
.footer-col ul i{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul i:hover{
	color: #ffffff;
	padding-left: 8px;
}
/* social links:-follow us section */
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin-right: 0 10px 10px 0;
	text-align: center;
	line-height:40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/*copy right section*/
.copyright {
	background: #000;
	
	height: auto;
	padding: 20px 0;
	text-align: center;
}
.copyright p{
	font-size: 18px;
	color: #fff;
	word-spacing: 2px;
	text-transform: capitalize;
}
/*responsive*/
@media only screen and (max-width: 880px){
	.footer-col{
		width:100%;
		margin-bottom:30px;
    text-align: center;
	}
